$colors:(
    primary: #00AEFD,
    primary-light: #85D4FF,
    primary-dark: #031A6B,
    secondary: #CDAA51,
    secondary-light: #F9EDDD,
    secondary-dark: #9E7E2E

);

@function color($color-name){
    @return map-get($colors, $color-name)
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;


    .bg {
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url(/img/asdfasdfasdf.jpg);
        background-size: cover;
    }

    header {
        text-align: center;

        .logo {
            padding: 1em;
        }
        nav {
            margin: auto;
            padding: 1em;
            background-color: color(secondary-light);
        }
    }
}

main {
    background-color: color(primary);
}