$colors:(
    primary: #00aefd,
    primary-light: #44bcd8,
    secondary: #69bdd2,

);

@function color($color-name){
    @return map-get($colors, $color-name)
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    /*
    .bg {
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url(/img/asdfasdfasdf.jpg);
        background-size: cover;
    }*/

    header {
        .logo {
            text-align: center;
            padding: 1em;
        }
        nav {
            text-align: center;
            margin: auto;
            padding: 1em;
            background-color: color(secondary);
        }
    }
}
main {
    background-color: color(primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(/img/asdfasdfasdf.jpg);
    background-size: cover;
}