/*colors:
    primary: #00AEFD,
    primary-light: #85D4FF,
    primary-dark: #031A6B,
    secondary: #CDAA51,
    secondary-light: #F9EDDD,
    secondary-dark: #9E7E2E
*/

body, html {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(215px, auto);
    height: 100vh;
    margin: auto;
    max-width: 1280px;
    background: 1px solid #665353;
    grid-template-areas:
    'header'
    'main'    
}

header {
    grid-area: header;
    text-align: center;
    background-color: #690f0f;
    grid-template-areas:
    'logo'
    'menu'
}   

.logo {
    display: grid;
    padding: 1em;
    grid-area: logo;
    border-bottom: 2px solid #000000;
    background-color: blue;
    
    
}
nav {
    display: grid;
    background-color: #324b1e;
}


main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    align-content: space-between;
    padding: 1.5em;
    border: 1px solid #000000;
    height: 100%;
    background: #00ff00;
    background-size: cover;
    grid-template-areas:
    'showcase showcase showcase social'
    'cta cta cta cta'

}

.showcase{
    grid-area: showcase;
    padding: 2em;
    border: 1px solid #000000;
}

.cta {
    grid-area: cta;
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2em;
    border: 1px solid #000000;
    
}

.cta > div{
    
    height: 150px;
    padding: 1.5em;
    background-color:#9E7E2E;
}
.social {
    border: 1px solid #000000;
}