* {
    margin: 0;
    padding: 0;
}
:root{
    --primary:#00c8ff;
    --primary-dark:#0084ff;
    --light:#0dffff;
    --dark:#0000ff;
    --cons:#ffcd00;
    --shadow:0 3px 13px var(--dark);
}
html{
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 92.5%;
    margin: 0;
    background: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 171px auto;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'c c c c c c c c c c c c';
    align-items: start;
    margin: auto;
    max-width: 1280px;
    height: 100%;
}

.header {
    text-align: center;
    grid-area: h;
    background: #ffffff;
    border-bottom: solid 1px var(--primary);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-bottom: var(--primary) 1px solid;
}

.logo img {
    max-width: 80px;
    padding-right: 0.5em;
}
.logo h2{
    font-size: 1em ;
    font-weight: 500;
    color: var(--primary-dark);
    text-align: start;
    font-family: 'Monda', sans-serif;
}

.bar {
    padding: 0.80em;
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: center;
}

.menu > li {
    list-style-type: none;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    font-size: smaller;
    color: #000000;
}

.menu a:hover {
    padding: 0.5em;
    border:var(--primary) solid 5px;
    background: var(--primary);
    color: #ffffff;
    font-weight: bold;
}


.content {
    grid-area: c;
    padding: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80% auto;
    grid-template-areas:
    't t t t t t t t t t t s'
    'a a a a a a a a a a a a';
    overflow: hidden;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 255, 0.35),
        rgba(0, 255, 255, 0.35)
    );
}

.vb {
    position: absolute;
    z-index: -1;
    top: 0;
    min-width: 100%;
    min-height: 100%; 
}

.title {
    grid-area: t;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}

.title h1{
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: var(--shadow);
    /* strokes 
    text-shadow:
    -1px -1px 0 var(--dark),  
    1px -1px 0 var(--dark),
    -1px 1px 0 var(--dark),
    2px 1px 0 var(--dark);*/
}
.title p{
    color: var(--light);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-shadow: var(--shadow);
}

.social{
    grid-area: s;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.social a {
    color: var(--light);
}

.social li {
    padding: 0.5em;
    list-style: none;
}

.cta {
    grid-area: a;
    position: absolute;
    bottom: 0;
    width: 100% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2em;
}

.cta-btn {
    text-align: center;
    background: var(--cons);
    width: 75%;
    height: 80px;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.cta-btn a {
    margin-top: 1em;
    text-decoration: none;
    color: #000000;
}

.cta-btn a:hover{
    background: var(--primary-dark);
    color: var(--light);
    margin: 0.5em;
    padding: 0.5em;
}

/* ***** Media Queries ***** */

@media only screen and (max-height: 320px){
    .wrapper{
        grid-template-rows: 80px auto;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
    
    .logo{
        border-bottom: none;
    }
    .bar {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        't'
        's'
        'a';
        justify-content: stretch;
    }
    .title{
        grid-area: t;
        justify-content: flex-start;
    }
    .title h1 {
        font-size: 2em;
    }
    .title p{
        font-size: 1em;
    }
    .social{
        grid-area: s;
        display: none;
    }
    .cta {
        grid-area: a;
        position: relative;
    }
    #cta1, #cta4{
        display: none;
    }

    .cta-btn{
        max-height: 50px;
        justify-self: stretch;
        font-size: 0.75em;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .content{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        't'
        's'
        'a';
        justify-content: stretch;
        padding-bottom: 3.5em;
    }
    .title{
        grid-area: t;
        justify-content: flex-start;
    }
    .title h1 {
        font-size: 2em;
    }
    .title p{
        font-size: 1em;
    }
    .social{
        grid-area: s;
        display: none;
    }
    .cta {
        grid-area: a;
        position: relative;
    }
   /*  #cta1, #cta4{
        display: none;
    } */

    .cta-btn{
        max-height: 50px;
        justify-self: stretch;
        font-size: 0.75em;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .content{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        't'
        's'
        'a';
        justify-content: stretch;
        padding-bottom: 3.5em;
    }
    .title{
        grid-area: t;
        justify-content: flex-start;
    }
    .title h1 {
        font-size: 2em;
    }
    .title p{
        font-size: 1em;
    }
    .social{
        grid-area: s;
        display: none;
    }
    .cta {
        grid-area: a;
        position: relative;
    }
   /*  #cta1, #cta4{
        display: none;
    } */

    .cta-btn{
        max-height: 50px;
        justify-self: stretch;
        font-size: 0.75em;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }