* {
    margin: 0;
    padding: 0;
}
:root{
    --primary:#00c8ff;
    --primary-dark:#0084ff;
    --light:#0dffff;
    --dark:#0000ff;
    --cons:#ffcd00;
    --shadow:0 3px 13px var(--dark);
}
html{
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    background: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    min-height: 100vh;
    position: relative;
    margin: auto;
    max-width: 1280px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'c c c c c c c c c c c c'
        'f f f f f f f f f f f f';
    align-items: start;
    padding-bottom: 3em;
}

.header {
    text-align: center;
    grid-area: h;
    background: #ffffff;
    border-bottom: solid 1px var(--primary);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-bottom: var(--primary) 1px solid;
}
.logo img {
    max-width: 80px;
    padding-right: 0.5em;
}
.logo h2{
    font-size: 1em ;
    font-weight: 500;
    color: var(--primary-dark);
    text-align: start;
    font-family: 'Monda', sans-serif;
    
}

.bar {
    padding: 0.80em;
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: center;
}

.menu > li {
    list-style-type: none;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    font-size: smaller;
    color: #000000;
}

.menu a:hover {
    padding: 0.5em;
    border:var(--primary) solid 5px;
    background: var(--primary);
    color: #ffffff;
    font-weight: bold;
}



.articles {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 2em;
    grid-template-areas:
    't t t t t t'
    'c c c c c c';
    justify-items: center;
    padding: 3em;
    background: cornflowerblue;
}

.art-title {
    grid-area: t;
    text-align: center;
    width: 100%;
    border: 1px solid red;
}

.art-content {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 3em;
    padding: 2em;
    border: 1px solid blue;
    text-align: center;
}

.art-form {
    grid-column: 1/-1;
    padding: 1em;
    background: #0dffff;
    width: 100%;
    margin: auto;
}

.art-form form {
    background-color: #ffcd00;
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    width: 50%;
}
.art-form label{
    text-align: start;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.art-form input {
    padding: 1em;
}
.art-form textarea{
    padding: 1em;
}



.footer{
    grid-area: f;
    background-color: var(--dark);
    max-height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 0.8em;
    color: var(--light);
}