<aside id="aside">
  <div class="aside-content">
    <div class="aside-title">
      <h3>Social Media Feed</h3>
    </div>
    <div id="curator-feed-lflfeed-layout" class="feed">
      <a
        href="https://curator.io"
        target="_blank"
        rel="noopener noreferrer"
        class="crt-logo crt-tag"
        >Powered by Curator.io <span class="sr-only">(opens in new tab)</span></a
      >
    </div>
  </div>
</aside>
