<footer>
  <div id="copyright-info">
    <span class="icon-foot">
      <a href="/index.html">
        <img src="/img/lfl.svg" alt="LFL logo" width="100" height="90" />
      </a>
    </span>
    <p class="year"></p>
  </div>
  <div id="contact-info">
    <span class="icon-foot">
      <i class="fas fa-envelope fa-2x"></i>
    </span>
    <p>
      <a href="mailto:contact@londonfutsalleague.com">
        contact@londonfutsalleague.com
      </a>
    </p>
  </div>
  <div id="instagram-link">
    <span class="icon-foot">
      <i class="fab fa-instagram fa-2x"></i>
    </span>
    <p>
      <a href="https://www.instagram.com/londonfutsalleague" target="_blank" rel="noopener noreferrer">
        DM us on Instagram
      </a>
    </p>
  </div>
  {% if not isHome %}
  <div id="footer-registration">
    <div class="footer-reg-link">
      <a href="/solo.html">
        <i class="fas fa-user fa-2x"></i>
        <span>Solo registration</span>
      </a>
    </div>
    <div class="footer-reg-link">
      <a href="/team.html">
        <i class="fas fa-users fa-2x"></i>
        <span>Team registration</span>
      </a>
    </div>
  </div>
  {% endif %}

</footer>
