<footer>
  <div id="copyright-info">
    <span class="icon-foot">
      <a href="/index.html">
        <img src="/img/lfl.svg" alt="LFL logo" />
      </a>
    </span>
    <p class="year"></p>
  </div>
  <div id="contact-info">
    <span class="icon-foot">
      <i class="fas fa-envelope fa-2x"></i>
    </span>
    <p>
      <a href="mailto:contact@londonfutsalleague.com">
        contact@londonfutsalleague.com
      </a>
    </p>
  </div>
  <div id="privacy-link">
    <a href="/privacy.html">Privacy Policy</a>
  </div>
</footer>
