* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    height: 92.5%;
    margin: 0;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 170px auto;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'c c c c c c c c c c c c';
    justify-items: stretch;
    align-items: start;
    margin: auto;
    max-width: 1280px;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.header {
    text-align: center;
    grid-area: h;
    height: 170px;
    background: #ffffff;
}

.logo {
    padding: 1em;
    border-bottom: cyan 1px solid;
}

.bar {
    padding: 1em;
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: center;
    /*display: flex;*/
}

.menu > li {
    list-style-type: none;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    font-size: smaller;
    color: black;
}

.menu a:hover {
    padding: 0.5em;
    border: black solid 10px;
    background: blue;
}


.content {
    padding: 2em;
    background-image: url(/img/fgdfgdfg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80% auto;
    grid-template-areas:
    't t t t t t t t t t t s'
    'a a a a a a a a a a a a';    
}

.title {
    grid-area: t;
    padding: 1em;
    position: relative;
    
}

.title h1, p{
    color: white;
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border: black 1px solid; 
    font-weight: bolder;
    font-size: 3em;
    position: absolute;
    top: 60%;
    left: 0;
    width: auto;
    padding: 0.5em;
}

.title p {
    font-style: italic;
    font-size: 1.5em;
    position: absolute;
    top: 82.1%;
    left: 0;
    width: auto;
    padding: 1em;
}


.social{
    align-items: center;
    grid-area: s;
    border: black 1px solid;
}

.cta {
    grid-area: a;
    position: absolute;
    bottom: 0;
    width: 100% ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-gap: 1em;*/
}

.cta-btn {
    text-align: center;
    background: #f3c138;
    width: 75%;
    height: 80px;
    margin: auto;
    padding: 1em;

}