* {
    margin: 0;
    padding: 0;
}
:root{
    --primary:#00c8ff;
    --primary-dark:#0084ff;
    --light:#0dffff;
    --dark:#0000ff;
    --cons:#ffcd00;
    --shadow:0 3px 13px var(--dark);
}
html{
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 92.5%;
    margin: 0;
    background: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 175px auto;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'c c c c c c c c c c c c';
    justify-items: stretch;
    align-items: start;
    margin: auto;
    max-width: 1280px;
    height: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.header {
    text-align: center;
    grid-area: h;
    height: 174px;
    background: #ffffff;
    border-bottom: solid 1px var(--primary);
}

.logo {
    padding: 1em;
    border-bottom: var(--primary) 1px solid;
}

.logo img {
    width: 100px;
}

.bar {
    padding: 1em;
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: center;
    /*display: flex;*/
}

.menu > li {
    list-style-type: none;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    font-size: smaller;
    color: #000000;
}

.menu a:hover {
    padding: 0.5em;
    border:var(--primary) solid 5px;
    background: var(--primary);
    color: #ffffff;
    font-weight: bold;
}


.content {
    grid-area: c;
    padding: 2em;
    background-image: url(../../img/lfl-bg-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80% auto;
    grid-template-areas:
    't t t t t t t t t t t s'
    'a a a a a a a a a a a a';    
}

.title {
    grid-area: t;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}

.title h1{
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: var(--shadow);
    /* strokes 
    text-shadow:
    -1px -1px 0 var(--dark),  
    1px -1px 0 var(--dark),
    -1px 1px 0 var(--dark),
    2px 1px 0 var(--dark);*/
}
.title p{
    color: var(--light);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-shadow: var(--shadow);
}

.social{
    grid-area: s;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--light);
}

.social a {
    color: var(--primary-dark);
}

.social li {
    padding: 0.5em;
    list-style: none;
}

.cta {
    grid-area: a;
    position: absolute;
    bottom: 0;
    width: 100% ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.cta-btn {
    text-align: center;
    background: var(--cons);
    width: 75%;
    height: 80px;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.cta-btn a {
    margin-top: 1em;
    text-decoration: none;
    color: #000000;
}

.cta-btn a:hover{
    background: var(--primary-dark);
    color: var(--light);
    margin: 0.5em;
    padding: 0.5em;
}
