table {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0;
}
.captions ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: small;
}
table td{
  border-bottom: solid 1px #dddddd;
  padding: 0.5em;
}
tr:hover{
  background: #eeeeee;
}
th, tfoot td {
  padding: 0.5em;
  background: #dddddd;
}
tfoot ul{
  font-size: 0.75em;
}
.team{
  text-align: left;
}

.points, .position{
  font-weight: normal;
}
.player p, .goals-f{
  font-weight: bold;
}


@media (max-width: 768px){
  .won, .draw, .lost, .goal-f, .goal-a, .goal-d, .captions {
    display: none;
  }
  tbody td i{
    max-width: 5em;
  }
 .p-team{
    display: none;
  }
}
