---
layout: base.njk
title: "London Futsal League | Teams"
description: "Meet the futsal teams competing in the London Futsal League. See team logos and learn about the clubs playing this season."
ogTitle: "London Futsal League | Teams"
ogDescription: "Meet the futsal teams competing in the London Futsal League. See team logos and learn about the clubs playing this season."
ogUrl: "teams.html"
activePage: "teams"
hasAside: true
extraCss:
  - "/css/forms.css"
permalink: "teams.html"
---

<div class="section-wraper">
  <div class="section-title">
    <h1>Teams</h1>
  </div>
  <div class="section-content">
    <div class="card">
      <h2 class="content-subheading">
        Futsal teams currently playing this Season 2026
      </h2>
      <div>
        <ul class="card-flex">
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/addict-futsal.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/addict-futsal.png" alt="Addict Futsal" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Addict Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/ajax-brasil.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/ajax-brasil.jpg" alt="Ajax Brasil" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Ajax Brasil</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/amateur-football-alliance.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/amateur-football-alliance.png" alt="Amateur Football Alliance" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Amateur Football Alliance</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/bocas-futsal.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/bocas-futsal.jpg" alt="Bocas Futsal" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Bocas Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/bolivia-ldn.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/bolivia-ldn.png" alt="Bolivia LDN" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Bolivia LDN</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/fc-morocco.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/fc-morocco.png" alt="FC Morocco" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">FC Morocco</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/footy-addicts.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/footy-addicts.png" alt="Footy Addicts" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Footy Addicts</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/indo-fc.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/indo-fc.png" alt="Indo FC" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Indo FC</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/inspire-futsal.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/inspire-futsal.jpg" alt="Inspire Futsal" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Inspire Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/mr7-santacruzense.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/mr7-santacruzense.jpg" alt="MR7 Santacruzense" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">MR7 Santacruzense</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/night-owls.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/night-owls.jpg" alt="Night Owls" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Night Owls</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/old-boys-futsal.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/old-boys-futsal.jpg" alt="Old Boys Futsal" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Old Boys Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <picture>
                  <source srcset="/img/TEAMS/2024/red-devils.webp" type="image/webp">
                  <img src="/img/TEAMS/2024/red-devils.png" alt="Red Devils" loading="lazy" width="500" height="500">
                </picture>
              </a>
              <div class="card-content">
                <h4 class="card-content-title">Red Devils</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
