---
layout: base.njk
title: "London Futsal League | Teams"
description: "Meet the futsal teams competing in the London Futsal League. See team logos and learn about the clubs playing this season."
ogTitle: "London Futsal League | Teams"
ogDescription: "Meet the futsal teams competing in the London Futsal League. See team logos and learn about the clubs playing this season."
ogUrl: "teams.html"
activePage: "teams"
hasAside: true
extraCss:
  - "/css/forms.css"
permalink: "teams.html"
---

<div class="section-wraper">
  <div class="section-title">
    <h1>Teams</h1>
  </div>
  <div class="section-content">
    <div class="card">
      <h2 class="content-subheading">
        Futsal teams currently playing this Season 2024
      </h2>
      <div>
        <ul class="card-flex">
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/ADDICT FUTSAL.png" alt="Addict Futsal" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Addict Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/ajax brasil.jpg" alt="Ajax Brasil" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Ajax Brasil</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/Amateur_Football_Alliance.png" alt="Amateur Football Alliance" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Amateur Football Alliance</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/BOCAS FUTSAL.jpg" alt="Bocas Futsal" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Bocas Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/Bolivia LDN.png" alt="Bolivia LDN" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Bolivia LDN</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/FC_MOROCCO.png" alt="FC Morocco" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">FC Morocco</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/footy_addicts.png" alt="Footy Addicts" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Footy Addicts</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/INDO FC.png" alt="Indo FC" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Indo FC</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/inspire futsal.jpg" alt="Inspire Futsal" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Inspire Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/MR7_Santacruzense.jpg" alt="MR7 Santacruzense" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">MR7 Santacruzense</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/night owls.jpg" alt="Night Owls" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Night Owls</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/old boys futsal.jpg" alt="Old Boys Futsal" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Old Boys Futsal</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/solo.html">
                <img src="/img/TEAMS/2024/red_devils.png" alt="Red Devils" loading="lazy"
              /></a>
              <div class="card-content">
                <h4 class="card-content-title">Red Devils</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
